fastapi
uvicorn
motor
httpx
bcrypt
PyJWT
yfinance
diskcache==5.6.3
google-generativeai
transformers
torch
python-dotenv
pydantic
feedparser
sentence-transformers
numpy
duckduckgo-search
redis
python-multipart
finvizfinance
